In [1]:
#importing libraries to create SQL junction table
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#reading in all movies from JSON file
json_name = 'imdb.json'
movies = pd.read_json(json_name)
movies.head()

,certificate,genre,gross,id,imdb_rating,metascore,runtime,title,votes,year
0,PG,"[Animation, Action, Adventure]",189936471.0,tt4633694,8.5,87.0,117.0,Spider-Man: Into the Spider-Verse,160975.0,2018
1,PG-13,"[Action, Adventure, Fantasy]",334826690.0,tt1477834,7.2,55.0,143.0,Aquaman,211622.0,2018
2,R,"[Crime, Drama, Thriller]",103804407.0,tt7959026,7.1,58.0,116.0,The Mule,32910.0,2018
3,PG-13,"[Biography, Comedy, Drama]",84068561.0,tt6966692,8.3,69.0,130.0,Green Book,158958.0,2018
4,PG-13,"[Biography, Drama, Music]",215983200.0,tt1727824,8.1,49.0,134.0,Bohemian Rhapsody,311167.0,2018

In [3]:
#reading in all genres from SQL table
genres = pd.read_sql_query("select * from genres;", conn)
genres.head()

NameError: name 'conn' is not defined

In [40]:
#creating two temporary lists of genres and titles for junction table
genre_ids = []
title_ids = []

for i in range(movies.shape[0]):
    for movie in movies.iloc[i]['genre']:
        for j in range(genres.shape[0]):
            if movie == genres.iloc[j]['genre']:
                genre_ids.append(genres.iloc[j]['id'])
                title_ids.append(movies.iloc[i]['id'])

In [6]:
#checking size of lists of genres and titles
print(len(genre_ids))
print(len(title_ids))

NameError: name 'genre_ids' is not defined

In [75]:
#printing list of genres
genre_ids

[2,
 12,
 4,
 12,
 4,
 16,
 18,
 20,
 3,
 6,
 23,
 20,
 6,
 20,
 11,
 4,
 21,
 16,
 12,
 4,
 5,
 12,
 4,
 5,
 20,
 11,
 24,
 12,
 18,
 20,
 23,
 21,
 16,
 6,
 23,
 20,
 12,
 4,
 23,
 12,
 4,
 16,
 23,
 20,
 6,
 23,
 20,
 6,
 23,
 20,
 12,
 4,
 5,
 20,
 22,
 3,
 12,
 4,
 5,
 20,
 7,
 6,
 18,
 20,
 2,
 4,
 23,
 12,
 4,
 15,
 4,
 23,
 18,
 20,
 15,
 11,
 2,
 4,
 23,
 12,
 16,
 15,
 16,
 15,
 10,
 20,
 24,
 5,
 20,
 15,
 10,
 6,
 20,
 22,
 12,
 23,
 18,
 18,
 20,
 3,
 12,
 4,
 3,
 12,
 4,
 23,
 18,
 24,
 23,
 18,
 20,
 23,
 24,
 12,
 5,
 3,
 12,
 15,
 5,
 20,
 15,
 5,
 12,
 20,
 22,
 12,
 18,
 6,
 20,
 22,
 12,
 4,
 16,
 12,
 4,
 5,
 20,
 18,
 20,
 10,
 23,
 12,
 18,
 20,
 23,
 20,
 14,
 20,
 15,
 10,
 2,
 12,
 4,
 12,
 20,
 3,
 4,
 20,
 15,
 20,
 20,
 15,
 10,
 20,
 24,
 23,
 20,
 24,
 20,
 11,
 24,
 12,
 4,
 3,
 20,
 12,
 23,
 18,
 23,
 20,
 24,
 20,
 24,
 3,
 5,
 20,
 10,
 3,
 18,
 20,
 10,
 12,
 18,
 20,
 18,
 20,
 15,
 12,
 3,
 4,
 23,
 18,
 20,
 6,
 20,
 15,
 23,
 18,
 20,
 6,
 23,
 18,
 18,
 10,
 3,
 16,
 15,
 20,
 5,
 3,
 6,
 20,
 15,
 3,
 6,
 20,
 20,
 11,
 23,
 14,
 24,
 3,
 20,
 12,
 18,
 20,
 23,
 24,
 12,
 15,
 5,
 4,
 20,
 12,
 4,
 5,
 20,
 5,
 3,
 20,
 16,
 24,
 18,
 20,
 12,
 20,
 3,
 20,
 11,
 12,
 23,
 18,
 12,
 4,
 3,
 12,
 18,
 20,
 6,
 20,
 4,
 20,
 15,
 12,
 5,
 3,
 15,
 10,
 3,
 15,
 10,
 3,
 23,
 24,
 20,
 5,
 3,
 20,
 10,
 6,
 23,
 18,
 20,
 24,
 12,
 18,
 20,
 18,
 20,
 3,
 12,
 4,
 5,
 12,
 4,
 16,
 4,
 21,
 16,
 6,
 20,
 22,
 12,
 23,
 16,
 4,
 20,
 16,
 6,
 20,
 6,
 18,
 20,
 23,
 20,
 6,
 20,
 22,
 12,
 18,
 3,
 23,
 2,
 23,
 21,
 12,
 18,
 20,
 12,
 6,
 20,
 6,
 20,
 0,
 4,
 15,
 4,
 23,
 20,
 12,
 4,
 3,
 23,
 20,
 24,
 23,
 20,
 23,
 20,
 14,
 20,
 11,
 2,
 4,
 23,
 23,
 16,
 5,
 2,
 4,
 23,
 6,
 20,
 18,
 20,
 20,
 24,
 3,
 23,
 23,
 18,
 10,
 3,
 12,
 5,
 3,
 20,
 10,
 2,
 12,
 4,
 15,
 10,
 5,
 6,
 20,
 16,
 12,
 20,
 23,
 18,
 20,
 20,
 16,
 15,
 20,
 23,
 20,
 10,
 23,
 3,
 6,
 20,
 21,
 20,
 24,
 23,
 7,
 18,
 3,
 20,
 20,
 20,
 10,
 5,
 12,
 20,
 22,
 12,
 4,
 23,
 12,
 4,
 23,
 20,
 12,
 4,
 5,
 4,
 20,
 21,
 15,
 3,
 20,
 22,
 3,
 4,
 20,
 15,
 20,
 20,
 20,
 24,
 3,
 20,
 22,
 24,
 12,
 20,
 5,
 20,
 5,
 18,
 20,
 23,
 21,
 16,
 20,
 22,
 4,
 21,
 16,
 12,
 10,
 3,
 23,
 24,
 20,
 16,
 15,
 12,
 23,
 24,
 20,
 16,
 24,
 20,
 10,
 3,
 15,
 10,
 3,
 23,
 20,
 23,
 20,
 2,
 4,
 23,
 6,
 20,
 22,
 20,
 15,
 10,
 18,
 20,
 18,
 20,
 3,
 6,
 20,
 22,
 12,
 3,
 12,
 20,
 0,
 12,
 4,
 20,
 12,
 4,
 6,
 18,
 20,
 22,
 12,
 23,
 15,
 18,
 20,
 10,
 18,
 20,
 3,
 23,
 18,
 20,
 23,
 16,
 24,
 15,
 3,
 23,
 12,
 23,
 23,
 20,
 4,
 20,
 5,
 12,
 23,
 20,
 20,
 24,
 12,
 20,
 0,
 20,
 15,
 10,
 10,
 5,
 3,
 20,
 15,
 10,
 4,
 20,
 16,
 12,
 1,
 12,
 18,
 20,
 20,
 3,
 2,
 4,
 23,
 20,
 24,
 23,
 18,
 10,
 12,
 20,
 5,
 18,
 10,
 3,
 12,
 18,
 20,
 23,
 23,
 20,
 11,
 20,
 24,
 12,
 4,
 21,
 6,
 20,
 3,
 20,
 23,
 23,
 24,
 2,
 12,
 23,
 6,
 18,
 20,
 18,
 20,
 10,
 20,
 11,
 24,
 6,
 23,
 20,
 20,
 2,
 4,
 23,
 20,
 24,
 18,
 20,
 20,
 20,
 15,
 3,
 6,
 20,
 24,
 23,
 15,
 23,
 20,
 24,
 16,
 3,
 20,
 6,
 20,
 4,
 23,
 21,
 5,
 3,
 12,
 18,
 20,
 12,
 23,
 18,
 23,
 20,
 24,
 23,
 20,
 24,
 12,
 18,
 20,
 15,
 3,
 20,
 11,
 15,
 3,
 21,
 23,
 20,
 3,
 20,
 20,
 23,
 24,
 12,
 18,
 10,
 20,
 16,
 15,
 12,
 20,
 12,
 20,
 22,
 20,
 7,
 23,
 20,
 20,
 6,
 23,
 20,
 12,
 4,
 20,
 10,
 23,
 20,
 15,
 10,
 15,
 3,
 6,
 20,
 20,
 21,
 5,
 6,
 20,
 3,
 2,
 4,
 20,
 24,
 3,
 15,
 20,
 10,
 24,
 23,
 20,
 1,
 12,
 18,
 20,
 20,
 12,
 0,
 20,
 5,
 12,
 20,
 3,
 12,
 23,
 18,
 6,
 23,
 6,
 18,
 20,
 20,
 24,
 12,
 20,
 15,
 6,
 20,
 22,
 15,
 10,
 3,
 12,
 18,
 3,
 23,
 20,
 24,
 3,
 5,
 3,
 6,
 18,
 20,
 15,
 10,
 3,
 4,
 23,
 20,
 12,
 18,
 3,
 20,
 12,
 3,
 18,
 3,
 20,
 10,
 15,
 3,
 16,
 22,
 3,
 12,
 18,
 3,
 12,
 23,
 18,
 23,
 18,
 20,
 12,
 20,
 5,
 3,
 12,
 20,
 3,
 23,
 20,
 12,
 23,
 18,
 20,
 1,
 23,
 20,
 12,
 18,
 20,
 20,
 16,
 15,
 15,
 3,
 4,
 6,
 20,
 18,
 24,
 3,
 24,
 5,
 2,
 12,
 4,
 18,
 20,
 15,
 23,
 12,
 20,
 5,
 15,
 3,
 20,
 12,
 4,
 5,
 23,
 6,
 18,
 20,
 23,
 20,
 15,
 20,
 23,
 24,
 4,
 20,
 21,
 6,
 18,
 20,
 6,
 20,
 23,
 15,
 20,
 20,
 11,
 24,
 20,
 15,
 10,
 20,
 23,
 20,
 15,
 23,
 20,
 3,
 3,
 20,
 24,
 0,
 20,
 7,
 15,
 20,
 20,
 15,
 10,
 20,
 21,
 23,
 15,
 12,
 18,
 3,
 20,
 3,
 2,
 23,
 21,
 23,
 24,
 20,
 20,
 3,
 23,
 20,
 7,
 23,
 20,
 24,
 5,
 12,
 4,
 5,
 16,
 3,
 23,
 20,
 24,
 18,
 15,
 10,
 12,
 20,
 15,
 5,
 3,
 3,
 20,
 10,
 3,
 12,
 16,
 15,
 20,
 7,
 2,
 12,
 4,
 6,
 20,
 24,
 18,
 15,
 3,
 15,
 3,
 15,
 1,
 20,
 10,
 5,
 10,
 3,
 12,
 15,
 3,
 15,
 3,
 12,
 18,
 3,
 12,
 18,
 20,
 20,
 5,
 12,
 23,
 18,
 12,
 4,
 20,
 23,
 20,
 20,
 11,
 24,
 23,
 20,
 24,
 20,
 24,
 12,
 4,
 18,
 20,
 ...]

In [76]:
#printing list of titles
title_ids

['tt4633694',
 'tt4633694',
 'tt4633694',
 'tt1477834',
 'tt1477834',
 'tt1477834',
 'tt7959026',
 'tt7959026',
 'tt7959026',
 'tt6966692',
 'tt6966692',
 'tt6966692',
 'tt1727824',
 'tt1727824',
 'tt1727824',
 'tt4123430',
 'tt4123430',
 'tt4123430',
 'tt4154756',
 'tt4154756',
 'tt4154756',
 'tt4701182',
 'tt4701182',
 'tt4701182',
 'tt1517451',
 'tt1517451',
 'tt1517451',
 'tt6491178',
 'tt6491178',
 'tt6491178',
 'tt5028340',
 'tt5028340',
 'tt5028340',
 'tt5083738',
 'tt5083738',
 'tt5083738',
 'tt5463162',
 'tt5463162',
 'tt5463162',
 'tt1571234',
 'tt1571234',
 'tt1571234',
 'tt7401588',
 'tt7401588',
 'tt6266538',
 'tt6266538',
 'tt6266538',
 'tt3385524',
 'tt3385524',
 'tt3385524',
 'tt1825683',
 'tt1825683',
 'tt1825683',
 'tt5461944',
 'tt5461944',
 'tt5461944',
 'tt4881806',
 'tt4881806',
 'tt4881806',
 'tt6343314',
 'tt6343314',
 'tt7349662',
 'tt7349662',
 'tt7349662',
 'tt5848272',
 'tt5848272',
 'tt5848272',
 'tt4530422',
 'tt4530422',
 'tt4530422',
 'tt1255919',
 'tt1255919',
 'tt1255919',
 'tt8359848',
 'tt8359848',
 'tt8359848',
 'tt4575576',
 'tt4575576',
 'tt4575576',
 'tt6998518',
 'tt6998518',
 'tt6998518',
 'tt1034415',
 'tt1034415',
 'tt1034415',
 'tt5215088',
 'tt5215088',
 'tt5215088',
 'tt7784604',
 'tt7784604',
 'tt7784604',
 'tt2328900',
 'tt2328900',
 'tt2328900',
 'tt5164214',
 'tt5164214',
 'tt5164214',
 'tt4218572',
 'tt4218572',
 'tt4218572',
 'tt4532826',
 'tt4532826',
 'tt4532826',
 'tt5095030',
 'tt5095030',
 'tt5095030',
 'tt6032328',
 'tt6032328',
 'tt7040874',
 'tt7040874',
 'tt7040874',
 'tt3104988',
 'tt3104988',
 'tt1270797',
 'tt1270797',
 'tt1270797',
 'tt6133466',
 'tt6133466',
 'tt6133466',
 'tt2737304',
 'tt2737304',
 'tt2737304',
 'tt4951982',
 'tt4951982',
 'tt4951982',
 'tt7262882',
 'tt7262882',
 'tt1213641',
 'tt1213641',
 'tt1213641',
 'tt3778644',
 'tt3778644',
 'tt3778644',
 'tt1677720',
 'tt1677720',
 'tt1677720',
 'tt6155172',
 'tt6628394',
 'tt6628394',
 'tt6628394',
 'tt2854926',
 'tt7137380',
 'tt7137380',
 'tt7137380',
 'tt6412452',
 'tt6412452',
 'tt6412452',
 'tt2639336',
 'tt2639336',
 'tt2639336',
 'tt3606756',
 'tt3606756',
 'tt3606756',
 'tt6523720',
 'tt6523720',
 'tt6523720',
 'tt2798920',
 'tt2798920',
 'tt2798920',
 'tt8254556',
 'tt6644200',
 'tt6644200',
 'tt6644200',
 'tt7125860',
 'tt7125860',
 'tt2126357',
 'tt2126357',
 'tt2126357',
 'tt6543652',
 'tt6543652',
 'tt6543652',
 'tt4912910',
 'tt4912910',
 'tt4912910',
 'tt8267604',
 'tt6205872',
 'tt6205872',
 'tt6205872',
 'tt6902696',
 'tt6902696',
 'tt6902696',
 'tt6908274',
 'tt6908274',
 'tt6908274',
 'tt4006302',
 'tt7668870',
 'tt7668870',
 'tt7668870',
 'tt4964788',
 'tt4964788',
 'tt4964788',
 'tt5177088',
 'tt5177088',
 'tt5177088',
 'tt4003440',
 'tt4003440',
 'tt4003440',
 'tt1846589',
 'tt1846589',
 'tt4971344',
 'tt4971344',
 'tt4971344',
 'tt7545524',
 'tt4669296',
 'tt4669296',
 'tt4669296',
 'tt5691670',
 'tt5691670',
 'tt5691670',
 'tt4595882',
 'tt4595882',
 'tt4595882',
 'tt1273221',
 'tt1273221',
 'tt1273221',
 'tt6469548',
 'tt6469548',
 'tt4209174',
 'tt4209174',
 'tt4209174',
 'tt4669788',
 'tt4669788',
 'tt1502407',
 'tt1502407',
 'tt1226837',
 'tt1226837',
 'tt7942742',
 'tt7942742',
 'tt6911608',
 'tt6911608',
 'tt6911608',
 'tt6866224',
 'tt5929754',
 'tt1259528',
 'tt1259528',
 'tt1259528',
 'tt3799232',
 'tt3799232',
 'tt4779682',
 'tt4779682',
 'tt4779682',
 'tt6820256',
 'tt6820256',
 'tt3829266',
 'tt3829266',
 'tt3829266',
 'tt4154916',
 'tt4154916',
 'tt4154916',
 'tt5501104',
 'tt5501104',
 'tt5501104',
 'tt8075192',
 'tt8075192',
 'tt2873282',
 'tt2873282',
 'tt2873282',
 'tt5960374',
 'tt5960374',
 'tt2704998',
 'tt2704998',
 'tt2704998',
 'tt5758778',
 'tt5758778',
 'tt5758778',
 'tt5052474',
 'tt5052474',
 'tt5052474',
 'tt7008872',
 'tt7008872',
 'tt4827558',
 'tt4827558',
 'tt4827558',
 'tt6499752',
 'tt6499752',
 'tt6499752',
 'tt5734576',
 'tt5734576',
 'tt5734576',
 'tt5814060',
 'tt5814060',
 'tt5814060',
 'tt6791096',
 'tt6791096',
 'tt7946422',
 'tt7946422',
 'tt7946422',
 'tt7282468',
 'tt7282468',
 'tt2837574',
 'tt2837574',
 'tt2837574',
 'tt3846674',
 'tt3846674',
 'tt1137450',
 'tt1137450',
 'tt1137450',
 'tt6742252',
 'tt6742252',
 'tt6742252',
 'tt2231461',
 'tt2231461',
 'tt2231461',
 'tt1365519',
 'tt1365519',
 'tt1365519',
 'tt5523010',
 'tt5523010',
 'tt5523010',
 'tt5437928',
 'tt5437928',
 'tt5437928',
 'tt6905696',
 'tt6905696',
 'tt6905696',
 'tt2388771',
 'tt2388771',
 'tt2388771',
 'tt6938828',
 'tt6938828',
 'tt1801552',
 'tt1801552',
 'tt1801552',
 'tt5613484',
 'tt5613484',
 'tt6704776',
 'tt6704776',
 'tt6704776',
 'tt3766354',
 'tt3766354',
 'tt3766354',
 'tt5619332',
 'tt2709692',
 'tt2709692',
 'tt2709692',
 'tt6850820',
 'tt6850820',
 'tt6850820',
 'tt6679794',
 'tt6679794',
 'tt6679794',
 'tt2368254',
 'tt2368254',
 'tt2368254',
 'tt4767428',
 'tt4767428',
 'tt1318517',
 'tt1318517',
 'tt1318517',
 'tt4560436',
 'tt4560436',
 'tt4560436',
 'tt5164432',
 'tt5164432',
 'tt5164432',
 'tt7014006',
 'tt7014006',
 'tt4878482',
 'tt4878482',
 'tt4878482',
 'tt6483364',
 'tt6483364',
 'tt5220122',
 'tt5220122',
 'tt5220122',
 'tt5688932',
 'tt5688932',
 'tt5688932',
 'tt5104604',
 'tt5104604',
 'tt5104604',
 'tt5460858',
 'tt5460858',
 'tt5580266',
 'tt5580266',
 'tt4477536',
 'tt4477536',
 'tt4477536',
 'tt2531344',
 'tt6644632',
 'tt4131496',
 'tt4131496',
 'tt4131496',
 'tt4500922',
 'tt4500922',
 'tt4500922',
 'tt5779372',
 'tt5779372',
 'tt7961060',
 'tt7961060',
 'tt7961060',
 'tt4971408',
 'tt4971408',
 'tt4971408',
 'tt1072748',
 'tt1072748',
 'tt1072748',
 'tt9063106',
 'tt9063106',
 'tt6474040',
 'tt6474040',
 'tt6474040',
 'tt6217306',
 'tt6217306',
 'tt6217306',
 'tt5855772',
 'tt5610554',
 'tt5610554',
 'tt5610554',
 'tt2140629',
 'tt2140629',
 'tt6450186',
 'tt6450186',
 'tt6450186',
 'tt5989218',
 'tt5989218',
 'tt7334528',
 'tt7334528',
 'tt8108198',
 'tt8108198',
 'tt3892172',
 'tt5360996',
 'tt9495224',
 'tt9495224',
 'tt9495224',
 'tt1413492',
 'tt1413492',
 'tt1413492',
 'tt6921996',
 'tt6921996',
 'tt6921996',
 'tt6663582',
 'tt6663582',
 'tt6663582',
 'tt4042818',
 'tt2557478',
 'tt2557478',
 'tt2557478',
 'tt4244998',
 'tt4244998',
 'tt4244998',
 'tt5834760',
 'tt5834760',
 'tt5311542',
 'tt5311542',
 'tt5311542',
 'tt5057140',
 'tt5057140',
 'tt5057140',
 'tt6257174',
 'tt8307082',
 'tt6063050',
 'tt6063050',
 'tt6063050',
 'tt1289403',
 'tt1289403',
 'tt1289403',
 'tt3312180',
 'tt3312180',
 'tt3312180',
 'tt6888938',
 'tt6888938',
 'tt4537896',
 'tt4537896',
 'tt2119543',
 'tt2119543',
 'tt2119543',
 'tt4614612',
 'tt4614612',
 'tt1620680',
 'tt1620680',
 'tt1620680',
 'tt1590193',
 'tt1590193',
 'tt1590193',
 'tt6957966',
 'tt6957966',
 'tt5085924',
 'tt5085924',
 'tt5085924',
 'tt2316479',
 'tt2316479',
 'tt2316479',
 'tt7026672',
 'tt7026672',
 'tt7026672',
 'tt5952138',
 'tt5952138',
 'tt5952138',
 'tt5690360',
 'tt5690360',
 'tt5690360',
 'tt7738450',
 'tt7738450',
 'tt6781982',
 'tt3294746',
 'tt6182908',
 'tt6182908',
 'tt6182908',
 'tt7074886',
 'tt7074886',
 'tt7074886',
 'tt7153766',
 'tt7153766',
 'tt7153766',
 'tt5789976',
 'tt5789976',
 'tt6768578',
 'tt6768578',
 'tt6768578',
 'tt5208252',
 'tt5208252',
 'tt5208252',
 'tt6116856',
 'tt6116856',
 'tt6864046',
 'tt6864046',
 'tt6864046',
 'tt5246700',
 'tt5246700',
 'tt5246700',
 'tt6306064',
 'tt6306064',
 'tt6306064',
 'tt7280898',
 'tt7280898',
 'tt7280898',
 'tt7260818',
 'tt7260818',
 'tt7260818',
 'tt6211976',
 'tt6211976',
 'tt6211976',
 'tt4463816',
 'tt4463816',
 'tt4463816',
 'tt7242142',
 'tt7242142',
 'tt7242142',
 'tt5783956',
 'tt5783956',
 'tt5783956',
 'tt6772950',
 'tt6772950',
 'tt7284204',
 'tt8055888',
 'tt8055888',
 'tt6676028',
 'tt6676028',
 'tt7042862',
 'tt7042862',
 'tt7042862',
 'tt3525168',
 'tt3525168',
 'tt3525168',
 'tt4799066',
 'tt4799066',
 'tt7515456',
 'tt7515456',
 'tt7515456',
 'tt6269368',
 'tt6269368',
 'tt6269368',
 'tt1464763',
 'tt1464763',
 'tt1464763',
 'tt2548396',
 'tt2548396',
 'tt2548396',
 'tt5493944',
 'tt5493944',
 'tt5493944',
 'tt7730102',
 'tt7730102',
 'tt5834262',
 'tt5834262',
 'tt5834262',
 'tt4682780',
 'tt4682780',
 'tt5117670',
 'tt5117670',
 'tt5117670',
 'tt7298400',
 'tt7298400',
 'tt0859635',
 'tt0859635',
 'tt0859635',
 'tt3201640',
 'tt3201640',
 'tt3201640',
 'tt6916362',
 'tt6916362',
 'tt6916362',
 'tt7137846',
 'tt7137846',
 'tt7137846',
 'tt7455076',
 'tt5607096',
 'tt5607096',
 'tt5607096',
 'tt7530986',
 'tt7530986',
 'tt5709188',
 'tt5709188',
 'tt5709188',
 'tt5179598',
 'tt5179598',
 'tt5179598',
 'tt4481066',
 'tt7027092',
 'tt1563742',
 'tt1563742',
 'tt7424200',
 'tt7424200',
 'tt7424200',
 'tt1759744',
 'tt1759744',
 'tt1759744',
 'tt6874254',
 'tt6874254',
 'tt6874254',
 'tt4103724',
 'tt4103724',
 'tt4103724',
 'tt6288124',
 'tt6288124',
 'tt6288124',
 'tt6386748',
 'tt2296777',
 'tt2296777',
 'tt2296777',
 'tt7241926',
 'tt7241926',
 'tt3588588',
 'tt3588588',
 'tt7807026',
 'tt6933454',
 'tt4052050',
 'tt4052050',
 'tt4642192',
 'tt4642192',
 'tt4642192',
 'tt5685006',
 'tt5685006',
 'tt6857166',
 'tt6857166',
 'tt6857166',
 'tt7295450',
 'tt7295450',
 'tt6675244',
 'tt6043142',
 'tt6043142',
 'tt5664636',
 'tt5664636',
 'tt5664636',
 'tt5397194',
 'tt5397194',
 'tt2315596',
 'tt2315596',
 'tt2315596',
 'tt1308728',
 'tt1308728',
 'tt1308728',
 'tt6987770',
 'tt6987770',
 'tt6987770',
 'tt8097306',
 'tt8097306',
 'tt8097306',
 'tt6684714',
 'tt6684714',
 'tt6081670',
 'tt6081670',
 'tt6081670',
 'tt5117428',
 'tt5117428',
 'tt8257624',
 'tt8257624',
 'tt6542108',
 'tt5836706',
 'tt5836706',
 'tt5670152',
 'tt7897102',
 'tt6628102',
 'tt5304992',
 'tt5304992',
 'tt6513656',
 'tt6513656',
 'tt6513656',
 'tt2372251',
 'tt2372251',
 'tt2372251',
 'tt7838252',
 'tt7838252',
 'tt5466186',
 'tt5466186',
 'tt5466186',
 'tt3201736',
 'tt3201736',
 'tt6859352',
 'tt6859352',
 'tt0427543',
 'tt3289724',
 'tt3289724',
 'tt3289724',
 'tt4073790',
 'tt4073790',
 'tt4073790',
 'tt3339680',
 'tt5037840',
 'tt5774450',
 'tt5774450',
 'tt5774450',
 'tt8074486',
 'tt8074486',
 'tt6802308',
 'tt6802308',
 'tt3833682',
 'tt3833682',
 'tt3833682',
 'tt6748466',
 'tt6748466',
 'tt6829180',
 'tt6900448',
 'tt6900448',
 'tt6900448',
 'tt3905764',
 'tt3905764',
 'tt9109306',
 'tt4986098',
 'tt4986098',
 'tt4986098',
 'tt5881528',
 'tt5881528',
 'tt5881528',
 'tt6749318',
 'tt6749318',
 'tt6749318',
 'tt6952960',
 'tt8820590',
 'tt8820590',
 'tt7589524',
 'tt7589524',
 'tt7279188',
 'tt7279188',
 'tt7279188',
 'tt3721964',
 'tt3721964',
 'tt3721964',
 'tt5566790',
 'tt5566790',
 'tt6212478',
 'tt6212478',
 'tt6212478',
 'tt9459550',
 'tt9459550',
 'tt5001754',
 'tt5001754',
 'tt6089358',
 'tt9206798',
 'tt9206798',
 'tt9206798',
 'tt8361028',
 'tt8361028',
 'tt8361028',
 'tt6547170',
 'tt6547170',
 'tt6547170',
 'tt3120280',
 'tt3120280',
 'tt3120280',
 'tt7645780',
 'tt4357394',
 'tt4357394',
 'tt7204348',
 'tt7204348',
 'tt7204348',
 'tt5726086',
 'tt5726086',
 'tt5726086',
 'tt4859168',
 'tt4859168',
 'tt4859168',
 'tt7690670',
 'tt7690670',
 'tt7690670',
 'tt6752992',
 'tt6533240',
 'tt6533240',
 'tt3203528',
 'tt3203528',
 'tt8185182',
 'tt8185182',
 'tt7608028',
 'tt7608028',
 'tt5075662',
 'tt5075662',
 'tt5075662',
 'tt2787302',
 'tt2787302',
 'tt2787302',
 'tt7212726',
 'tt7212726',
 'tt7212726',
 'tt6821012',
 'tt7328154',
 'tt7328154',
 'tt6012244',
 'tt0360556',
 'tt0360556',
 'tt0360556',
 'tt5254610',
 'tt5254610',
 'tt5254610',
 'tt7365604',
 'tt7365604',
 'tt3317234',
 'tt3317234',
 'tt6418918',
 'tt6418918',
 'tt6418918',
 'tt5460880',
 'tt5460880',
 'tt4976192',
 'tt4976192',
 'tt4976192',
 'tt8239946',
 'tt8239946',
 'tt8239946',
 'tt6516314',
 'tt6516314',
 'tt3319730',
 'tt3319730',
 'tt3319730',
 'tt6494418',
 'tt6494418',
 'tt6494418',
 'tt6010628',
 'tt6010628',
 'tt7133686',
 'tt7133686',
 'tt7133686',
 'tt5862902',
 'tt5862902',
 'tt1999890',
 'tt6728096',
 'tt6017942',
 'tt6017942',
 'tt6017942',
 'tt6197494',
 'tt6197494',
 'tt6506276',
 'tt6134274',
 'tt6134274',
 'tt6134274',
 'tt9652322',
 'tt2677722',
 'tt2677722',
 'tt2677722',
 'tt7542576',
 'tt7542576',
 'tt6182078',
 'tt7738784',
 'tt7256866',
 'tt9081562',
 'tt4844148',
 'tt4844148',
 'tt4844148',
 'tt5160938',
 'tt5160938',
 'tt5160938',
 'tt3226786',
 'tt3226786',
 'tt8108202',
 'tt8108202',
 'tt6932818',
 'tt6069162',
 'tt6069162',
 'tt6069162',
 'tt6859762',
 'tt6859762',
 'tt6859762',
 'tt6662736',
 'tt6865690',
 'tt6865690',
 'tt1285009',
 'tt7525778',
 'tt5968274',
 'tt5968274',
 'tt5843780',
 'tt1235187',
 'tt1235187',
 'tt1235187',
 'tt5427194',
 'tt5427194',
 'tt2386237',
 'tt7753158',
 'tt6195094',
 'tt6195094',
 'tt6195094',
 'tt6884200',
 'tt6884200',
 'tt7208564',
 'tt7208564',
 'tt5360952',
 'tt5360952',
 'tt5360952',
 'tt4669264',
 'tt4669264',
 'tt8001346',
 'tt8001346',
 'tt8001346',
 'tt3685236',
 'tt3685236',
 'tt5536610',
 'tt0972544',
 'tt0972544',
 'tt7476116',
 'tt7476116',
 'tt7476116',
 'tt6769280',
 'tt6769280',
 'tt6769280',
 'tt6613878',
 'tt5737536',
 'tt5737536',
 'tt5737536',
 'tt2160105',
 'tt2160105',
 'tt6532374',
 'tt6532374',
 'tt6532374',
 'tt4761916',
 'tt4761916',
 'tt4761916',
 'tt3208026',
 'tt3208026',
 'tt5591666',
 'tt5591666',
 'tt5591666',
 'tt7316576',
 'tt4015500',
 'tt4015500',
 'tt4015500',
 'tt6927152',
 'tt6927152',
 'tt6927152',
 'tt7511368',
 'tt7511368',
 'tt7745068',
 'tt7745068',
 'tt7745068',
 'tt5859882',
 'tt5859882',
 'tt5859882',
 'tt1773753',
 'tt1773753',
 'tt1773753',
 'tt6051096',
 'tt5553962',
 'tt8426594',
 'tt8426594',
 'tt6169694',
 'tt6169694',
 'tt6169694',
 'tt5164184',
 'tt5164184',
 'tt2034176',
 'tt2034176',
 'tt2034176',
 'tt8329290',
 'tt6218358',
 'tt6237612',
 'tt6237612',
 'tt6237612',
 'tt7606620',
 'tt7606620',
 'tt7606620',
 'tt3446330',
 'tt3446330',
 'tt6504538',
 'tt6504538',
 'tt6504538',
 'tt6155374',
 'tt6155374',
 'tt6155374',
 'tt7170950',
 'tt7170950',
 'tt6046314',
 'tt6046314',
 'tt6046314',
 'tt6527426',
 'tt6527426',
 'tt6527426',
 'tt5690810',
 'tt5690810',
 'tt5303442',
 'tt5303442',
 'tt2011311',
 'tt2011311',
 ...]

In [77]:
#defining SQL query to create junction table for genres and titles
create_query = """CREATE TABLE IF NOT EXISTS movie_genres
(   genre_id INTEGER NOT NULL,
    movie_id TEXT    NOT NULL,
    PRIMARY KEY(genre_id, movie_id),
    FOREIGN KEY(genre_id) REFERENCES GENRES(id),
    FOREIGN KEY(movie_id) REFERENCES MOVIES(imdb_id));"""

In [4]:
#defining functions to create SQL junction table for genres and titles
import sqlite3
conn = sqlite3.connect('movies.db')
c = conn.cursor()

def create_table(query):
    c.execute(query)

def close_c_conn():
    c.close()
    conn.close()

In [89]:
#creating SQL junction table for genres and titles
c.execute('''DROP TABLE movie_genres''')
create_table(create_query)

In [90]:
#defining function to insert genre and title pairs into SQL junction table
def movie_genre_entry(genre_ids, title_ids):
 
    for i in range(len(genre_ids)):
        c.execute("INSERT INTO movie_genres (genre_id, movie_id) VALUES (?,?)",
          (int(genre_ids[i]), title_ids[i]))
        
    conn.commit()

In [91]:
#inserting genre and title pairs into SQL junction table
movie_genre_entry(genre_ids, title_ids)

In [5]:
#querying SQL genre table
genres = pd.read_sql_query("select * from genres;", conn)
genres.head()

   id      genre
0   0        War
1   1    Western
2   2  Animation
3   3   Thriller
4   4  Adventure

In [6]:
#querying SQL movie table
movies = pd.read_sql_query("select * from movies;", conn)
movies.head()

,imdb_id,title,certificate,gross,imdb_rating,metascore,runtime,votes,year
0,tt4633694,Spider-Man: Into the Spider-Verse,PG,189936471.0,8.5,87.0,117.0,160975.0,2018
1,tt1477834,Aquaman,PG-13,334826690.0,7.2,55.0,143.0,211622.0,2018
2,tt7959026,The Mule,R,103804407.0,7.1,58.0,116.0,32910.0,2018
3,tt6966692,Green Book,PG-13,84068561.0,8.3,69.0,130.0,158958.0,2018
4,tt1727824,Bohemian Rhapsody,PG-13,215983200.0,8.1,49.0,134.0,311167.0,2018

In [7]:
#querying SQL junction table
movie_genres = pd.read_sql_query("select * from movie_genres;", conn)
movie_genres.head()

   genre_id   movie_id
0         2  tt4633694
1        12  tt4633694
2         4  tt4633694
3        12  tt1477834
4         4  tt1477834

In [39]:
#joining SQL movie and genre tables through junction table
full_junction = pd.read_sql_query('''SELECT * FROM genres
                  LEFT JOIN movie_genres
                  ON movie_genres.genre_id = genres.id
                  LEFT JOIN movies
                  ON movies.imdb_id = movie_genres.movie_id''', conn)

full_junction

,id,genre,genre_id,movie_id,imdb_id,title,certificate,gross,imdb_rating,metascore,runtime,votes,year
0,0,War,0,tt0441881,tt0441881,Danger Close,None,NaN,NaN,NaN,NaN,NaN,2019
1,0,War,0,tt0783640,tt0783640,The Last Full Measure,None,NaN,NaN,NaN,NaN,NaN,2019
2,0,War,0,tt1235187,tt1235187,Where Hands Touch,PG-13,67743.0,5.4,45.0,122.0,1009.0,2018
3,0,War,0,tt2368254,tt2368254,A Private War,R,1633208.0,6.7,75.0,110.0,7707.0,2018
4,0,War,0,tt2459244,tt2459244,The Precipice,None,NaN,6.6,NaN,86.0,8.0,2018
5,0,War,0,tt2584384,tt2584384,Jojo Rabbit,None,NaN,NaN,NaN,NaN,NaN,2019
6,0,War,0,tt2777020,tt2777020,Lost Division,None,NaN,NaN,NaN,75.0,NaN,2018
7,0,War,0,tt3238924,tt3238924,The Fort,None,NaN,NaN,NaN,70.0,NaN,2018
8,0,War,0,tt3486080,tt3486080,Lancaster Skies,None,NaN,8.6,NaN,98.0,57.0,2019
9,0,War,0,tt3833480,tt3833480,The Outpost,None,NaN,NaN,NaN,NaN,NaN,2019
10,0,War,0,tt4325644,tt4325644,Union,None,NaN,6.9,NaN,135.0,11.0,2018
11,0,War,0,tt4329936,tt4329936,The Front,None,NaN,6.7,NaN,65.0,15.0,2018
12,0,War,0,tt4602066,tt4602066,The Catcher Was a Spy,R,712438.0,6.1,49.0,98.0,4014.0,2018
13,0,War,0,tt4610378,tt4610378,The Resistance Banker,TV-MA,NaN,6.9,NaN,123.0,4408.0,2018
14,0,War,0,tt4791276,tt4791276,Down River,None,NaN,2.6,NaN,70.0,136.0,2018
15,0,War,0,tt4832918,tt4832918,De Nacht,None,NaN,8.8,NaN,NaN,8.0,2018
16,0,War,0,tt5178964,tt5178964,Zaspanka za vojnike,None,NaN,8.0,NaN,NaN,495.0,2018
17,0,War,0,tt5220602,tt5220602,D-Day Assassins,None,NaN,NaN,NaN,NaN,NaN,2019
18,0,War,0,tt5433276,tt5433276,I krig & kærlighed,None,NaN,6.2,NaN,135.0,140.0,2018
19,0,War,0,tt5456782,tt5456782,Call for Fire,None,NaN,7.7,NaN,102.0,9.0,2018
20,0,War,0,tt5475734,tt5475734,Dywizjon 303,None,NaN,5.4,NaN,104.0,315.0,2018
21,0,War,0,tt5749698,tt5749698,Das Milan-Protokoll,None,NaN,6.3,NaN,100.0,16.0,2018
22,0,War,0,tt5774832,tt5774832,Dancing with Sancho Panza,None,NaN,NaN,NaN,NaN,NaN,2018
23,0,War,0,tt5815078,tt5815078,Wunderland,None,NaN,3.7,NaN,85.0,585.0,2018
24,0,War,0,tt5835994,tt5835994,Kesif,None,NaN,7.0,NaN,NaN,36.0,2018
25,0,War,0,tt5951188,tt5951188,Balkanskiy rubezh,None,NaN,7.8,NaN,130.0,660.0,2019
26,0,War,0,tt5977276,tt5977276,The Aftermath,R,224705.0,6.1,43.0,108.0,994.0,2019
27,0,War,0,tt6048922,tt6048922,Greyhound,None,NaN,NaN,NaN,NaN,NaN,2019
28,0,War,0,tt6057574,tt6057574,Julia Blue,None,NaN,7.6,NaN,86.0,13.0,2018
29,0,War,0,tt6098500,tt6098500,The Manhattan Front,None,NaN,NaN,NaN,85.0,NaN,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24491,24,Romance,24,tt9827784,tt9827784,Sayonara kuchibiru,None,NaN,NaN,NaN,116.0,NaN,2019
24492,24,Romance,24,tt9830052,tt9830052,Mrs.Groom,None,NaN,NaN,NaN,NaN,NaN,2019
24493,24,Romance,24,tt9830754,tt9830754,Love's Twisting Path,None,NaN,NaN,NaN,NaN,NaN,2019
24494,24,Romance,24,tt9839636,tt9839636,Vu Quy Dai Nao,None,NaN,4.5,NaN,110.0,21.0,2019
24495,24,Romance,24,tt9840958,tt9840958,Love Struck Sick,None,NaN,NaN,NaN,NaN,NaN,2019
24496,24,Romance,24,tt9843956,tt9843956,Premrang,None,NaN,NaN,NaN,NaN,NaN,2019
24497,24,Romance,24,tt9844892,tt9844892,Time & Again,None,NaN,NaN,NaN,84.0,NaN,2019
24498,24,Romance,24,tt9848968,tt9848968,Same But Different: A True New Zealand Love Story,None,NaN,NaN,NaN,NaN,NaN,2019
24499,24,Romance,24,tt9849964,tt9849964,Omaera Zenin Mendokusai,None,NaN,NaN,NaN,79.0,NaN,2019
24500,24,Romance,24,tt9859758,tt9859758,Ali and Alia,None,NaN,NaN,NaN,NaN,NaN,2019
24501,24,Romance,24,tt9863642,tt9863642,Deceitful Tendencies,None,NaN,NaN,NaN,NaN,NaN,2019
24502,24,Romance,24,tt9871426,tt9871426,Kuronosu Jôntâ no densetsu,None,NaN,NaN,NaN,87.0,NaN,2019
24503,24,Romance,24,tt9876944,tt9876944,The Passion of Love,None,NaN,NaN,NaN,80.0,NaN,2018
24504,24,Romance,24,tt9878242,tt9878242,Subharathri,None,NaN,NaN,NaN,NaN,NaN,2019
24505,24,Romance,24,tt9878856,tt9878856,Yatra: A Musical Vlog,None,NaN,NaN,NaN,NaN,NaN,2019
24506,24,Romance,24,tt9878866,tt9878866,Subha Love,None,NaN,NaN,NaN,NaN,NaN,2019
24507,24,Romance,24,tt9878874,tt9878874,Dis Connected,None,NaN,NaN,NaN,47.0,NaN,2019
24508,24,Romance,24,tt9882532,tt9882532,"Get Paid, Get Laid & Get Lucky",None,NaN,NaN,NaN,86.0,NaN,2019
24509,24,Romance,24,tt9883020,tt9883020,P over D,None,NaN,NaN,NaN,100.0,NaN,2019
24510,24,Romance,24,tt9886872,tt9886872,Munthiri Monchan: Oru Thavala Paranja Kadha,None,NaN,NaN,NaN,NaN,NaN,2019
24511,24,Romance,24,tt9887154,tt9887154,Jessie: The Golden Heart,None,NaN,NaN,NaN,92.0,NaN,2019
24512,24,Romance,24,tt9889918,tt9889918,2 Friends,None,NaN,NaN,NaN,134.0,NaN,2018
24513,24,Romance,24,tt9889926,tt9889926,Ratham,None,NaN,NaN,NaN,NaN,NaN,2018
24514,24,Romance,24,tt9889952,tt9889952,Ishtangaa,None,NaN,NaN,NaN,NaN,NaN,2018
24515,24,Romance,24,tt9899284,tt9899284,Return Of The Binman,None,NaN,NaN,NaN,120.0,NaN,2019
24516,24,Romance,24,tt9899726,tt9899726,Few Hours in Athens,None,NaN,NaN,NaN,NaN,NaN,2019
24517,24,Romance,24,tt9900398,tt9900398,Love Lives Here,None,NaN,NaN,NaN,NaN,NaN,2019
24518,24,Romance,24,tt9904328,tt9904328,Ruby's Magical Snowman,None,NaN,NaN,NaN,NaN,NaN,2019
24519,24,Romance,24,tt9905796,tt9905796,July Kaatril,None,NaN,NaN,NaN,NaN,NaN,2019
24520,24,Romance,24,tt9911306,tt9911306,Kalikkoottukar,None,NaN,NaN,NaN,145.0,NaN,2019

In [40]:
#joining SQL movie and genre tables through junction table
#grouping by genre
grouped_junction = pd.read_sql_query(
                        '''SELECT genre,
                            AVG(gross)
                    FROM genres
                    LEFT JOIN movie_genres
                    ON movie_genres.genre_id = genres.id
                    LEFT JOIN movies
                    ON movies.imdb_id = movie_genres.movie_id
                    GROUP BY genre''', conn)
grouped_junction

          genre    AVG(gross)
0        Action  6.082860e+07
1     Adventure  8.728568e+07
2     Animation  6.401348e+07
3     Biography  1.870739e+07
4        Comedy  2.886381e+07
5         Crime  1.646432e+07
6   Documentary           NaN
7         Drama  1.222700e+07
8        Family  4.015861e+07
9       Fantasy  5.800220e+07
10      History  9.289682e+06
11       Horror  3.221662e+07
12        Music  3.102453e+07
13      Musical  6.074513e+07
14      Mystery  2.120869e+07
15         News           NaN
16   Reality-TV           NaN
17      Romance  2.168857e+07
18       Sci-Fi  1.124417e+08
19        Short           NaN
20        Sport  2.196395e+07
21    Talk-Show           NaN
22     Thriller  2.817907e+07
23          War  1.722556e+06
24      Western  4.336398e+05